body {
  background: gray;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 22px;
}

#full_name,
#address,
#obs {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 900px;
  border-radius: 12px;
  background: white;
  margin-top: 50px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  border-width: 1px; 
}

.form-group label {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 3px;
}

.form-group input {
  border: 0;
  display: flex;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  height: 30px;
  outline: none;
  padding-left: 8px;
  box-sizing: border-box;
}

.form-group textarea {
  border: 0;
  display: flex;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  margin-left: 4px;
  width: 98%;
  height: 150px;
  outline: none;
  padding-left: 8px;
  box-sizing: border-box;
}

input[type="button"] {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 3px;
  border-radius: 17px;
  width: 80px;
  height: 35px;
  background: #ccc;
  font-size: 16px;
}

input[type="date"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit {
  color: #ccc;
}

.form-group input::placeholder {
  color: #ccc;
  font-size: 12px;
}

.form-group .checks .notifications input {
  height: 15px;
}

.contact-info,
.location-info {
  display: flex;
  justify-content: space-between;
}
.contact-info .form-group,
.location-info .form-group{
  width: 49%;
}

.other-info {
  display: flex;
  justify-content: space-between;
}
.other-info  .form-group{
  width: 32.5%;
}
 
.form-group .checks {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
}

.client-info .form-group {
  display: flex;
  flex-direction: column;
}

.form-group .checks .notifications {
  display: inline-flex;
  margin-right: 12px;
}