body {
  background: gray;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 22px;
}

#full_name {
  width: 99%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 1000px;
  height: 700px;
  border-radius: 12px;
  background: white;
  margin-top: 50px;
  margin-left: 210px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border-width: 1px; 
  background: #ccc;  
  border-radius: 10px;
}

.form-group label {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 7px;
}

.form-group input {
  border: 0;
  display: flex;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  background: #f7f7f7;
  border-radius: 10px;
  margin-left: 4px;
  width: 98%;
}

.contact-info,
.location-info,
.other-info, 
.form-group .checks{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  height: 100px;
}

.contact-info .form-group,
.location-info .form-group, 
.other-info .form-group {
  flex: 1;
  height: 50px;
}

.notifications{
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
}

